html,
body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}


header {
    background-color: #553f9f;
    font-size: 32px;
    height: 64px;
}

a {
    display: block;
    float: left;
    padding: 0 20px 0 16px;
    line-height: 60px;
    color: white;
}

h1 {
    width: 100%;
    text-align: center;
    color: #553f9f;
    font-size: 120px;
    margin-top: 0;
}

#reg {
    text-align: center;
    border: 2px solid black;
    width: 40%;
    margin:auto;

}
#reg *{
    padding: 8px;
    margin: 10px;

}
#navadmin {
    height: 60px;
    background-color: #993f9f;
    width: 100%;
    text-align: center;
}
#navadmin *{
    color:black;
    width: 5%;
    text-align: center;

}